.main {
  height: 100vh;
  display: block;
  overflow: hidden;
  width: 1000px;
  max-width: 1000px;
  margin: 0 auto;
  transition: margin 0.3s ease;
  transition: width 0.3s ease;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  .content {
    background: rgb(245, 245, 245);
    height: 100vh;
    -webkit-transition: margin-top 1s ease;
    transition: margin-top 1s ease;
    &.done {
      margin-top: -100vh;
    }
    .shelf {
      box-shadow: none;
      margin-bottom: 0;
      border-radius: 0;
      height: 15%;
    }
    .questions {
      background: #fff;
      position: relative;
      height: 72%;
      border-bottom: 1px solid #ddd;
    }
  }
}

@media (max-width: 1665px) {
  .main {
    width: calc(100% - 680px);
  }
}
@media (max-width: 1200px) {
  .main {
    width: calc(100% - 390px);
    margin-left: 50px;
  }
  .hide-rightbar .main {
    width: 100%;
    margin: 0 auto ;
  }
}
@media (max-width: 1100px) {
  .main {
    width: calc(100% - 80px);
    margin: 0 auto;
  }
  .hide-rightbar .main {
    width: calc(100% - 80px);
    margin: 0 auto;
  }
}

.results {
  height: 100vh;
  padding-top: 30px;
  .alert {
    margin: 0;
  }
  .going-from-here {
    margin-top: 20px;
  }
}

.question {
  position: absolute;
  display: none;
  right:0;
  left:0;
  overflow: hidden;
  height: 100%;
  text-align: center;
  // box-shadow: 0px -1px 25px -6px rgba(0,0,0,0.25);
  .slider {
    position: absolute;
    bottom: 40%;
    transform: translateX(-50%);
  }
}

.navigation {
  background: #f00;
  position: relative;
  bottom: 10%;
  button {
    position: absolute;
    box-shadow: 2px 2px 25px -6px rgba(0,0,0,0.25);
  }
  #prev {
    left: 20%;
  }
  #next {
    right: 20%;
  }
}