.radio-buttons {
    display: block;
    margin: 10% auto;
    height: 10%;
    width: 70%;
    div {
        width: 20%;
        float: left;
        margin: 0 auto;
    }
}
input[type=radio] {
    display: block;
    margin: 0 auto;
    position: relative;
    visibility: hidden;
    &:after {
        visibility: visible;
        border: solid 3px #aaa;
        border-radius: 100%;
        content: '';
        width: 30px;
        height: 30px;
        position: absolute;
        top: -120%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
label {
    // margin-top: 20px;
    // padding: 0;
    // margin: 10px;
    // width: 10%;
    // display: inline-block;
}